body{
    padding-top: 70px;
}

#firstPhoto{
    height: 233px;
    
}

.jumbotron{
    color:#2c3e50;
}

.navbar-inverse{
    color: #2c3e50;
}

.nav.navbar .navbar-inverse .navbar-fixed-top{
    color:  white;
}

.nav .navbar-nav{
    color: white;
}